/* font import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

/* Universal Rule */
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Header styling */

header {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding-left: 125px;
    padding-top: 20px;
}

.main-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 210px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.sec-heading {
    display: flex;
    gap: 20px;
    font-size: 18px;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #E5E7EB; 
}

.secondary-heading {
    display: flex;
    align-items: flex-start;
    margin-right: 210px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.secondary-heading-1 {
    width: 400px;
}

.secondary-heading-1 div {
    margin-bottom: 20px;;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-sec-text {
    font-size: 18px;
    color: #E5E7EB;
}

.secondary-heading-1 button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    padding: 8px 30px;
}

.secondary-heading-2 img {
    width:400px;
    height:250px;
    object-fit: cover;
}

/* Header styling complete */

/* Main styling start */


.title-div {
    background-color: #F9FAF8;
    padding-top: 50px;
    padding-left: 125px;
    padding-right: 210px;
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-bottom: 100px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-details {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.main-details div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-details .img-div {
    width: 200px;
    height: 200px;
    border-radius: 25px;
    border: 3px solid #3b82f6;
    margin-bottom: 10px;
}

.subtext {
    text-align: center;
    font-size: 18px;
    padding: 0 30px;
}

.img-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
    padding: 100px;
}

blockquote {
    margin-left: 150px;
    margin-right: 250px;
}

figcaption {
    color: black;
    font-weight: bold;
    font-style: normal;
    text-align: right;
    margin-right: 200px;
    margin-top: 30px;
}

.conclusion {
    background-color: #F9FAF8;
    padding: 100px 120px;
}

.call-to-action {
    display: flex;
    justify-content: space-around;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px;
    color: #F9FAF8
}

.call-text {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.call-to-action button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 16px;
    width: 130px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid white;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px; 
    font-weight: 300;
}
